<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="../static/include/head"></div>
	<title>COLABORADOR</title>
</head>

<body>
	<div th:replace="../static/include/navbar"></div>

	<div class="container bg-light vh-100">
		
		<div class="mt-4">
			
			<div>
				<h2>COMENTARIOS DE LOS CLIENTES</h2>
				<hr>
			</div>
			
			<div  class="list-group overflow-y-auto" style="height:500px;" >
				<div th:each="comentario : ${listaComentario}" class="list-group-item list-group-item-action" >
					<div >
						<div class="d-flex justify-content-between">
							<p class ="fw-bold">
								Usuario: <span th:text="${comentario.usuarioCliente.nomUsuario}"></span>
								<img src="https://images.emojiterra.com/google/android-12l/512px/2b50.png" width="30px" height="30px">
								<span th:text="${comentario.cantEstrellaComentario}" />
								Estrellas calificadas

							</p>
							<p th:text="${comentario.fecharegComentario}"></p>
							
						</div>
					
						<div>
							<i th:text="${comentario.desComentario}"></i>
						</div>
					</div>
					
							
				</div>
			</div>
			
			<div class="mt-4">
				<form th:action="@{/grabarComentario}" th:object="${comentario}" method="post">
					<div class="row g-4">
						<div class="col-12 d-flex gap-2">
							<img th:if="${session.usuario}!=null" class="rounded-circle"
								th:src="@{'data:image;base64,' + ${session.imagen}}" width="60px"
								heigth="60px">
							<textarea class="form form-control" th:field="*{desComentario}" ></textarea>
						</div>
						
						
						<div class="col-4 col-lg-2 d-flex align-items-center gap-3">
							<input type="number" class="form-control" min="1" max="5" required th:field="*{cantEstrellaComentario}" />
							<img src="https://images.emojiterra.com/google/android-12l/512px/2b50.png" width="30px" height="30px">
						</div>
							
						
						<div class="col-4">
							<button class="btn btn-success">PUBLICAR</button>
						</div>
					</div>
				</form>
			</div>
			
		</div>
		
	</div>

</body>

</html>