<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<div th:replace="../static/include/head"></div>
	<title>DIRECCIONES DE ENTREGA</title>

</head>

<body>

	<div th:replace="../static/include/navbar"></div>

	<div class="container mt-4">
		<div>
			<h2>LISTA DE DIRECCIONES DE ENTREGA</h2>
			<hr>
		</div>

		
		<div th:if="${session.usuario}!=null" class="row row-cols-auto mb-4">
			<div class="col">
				<img th:src="'data:image;base64,' + ${session.imagen}" width="100px" height="100px" />
			</div>
			<div class="col fw-bold">
				<p>NOMBRE: <i th:text="${session.usuario.nomUsuario} + ' ' + ${session.usuario.apeUsuario} " ></i> </p>
				<p>USUARIO: <i th:text="${session.usuario.emailUsuario}" ></i> </p>
				<p>ESTADO: <i th:text="${session.usuario.estadoUsuario}" ></i> </p>
			</div>
		</div>
		
		
		<div class="my-4">
			<a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#gestionarDirentrega"
				href="">NUEVA DIRECCION DE ENTREGA</a>
		</div>

		<div class="table-responsive overflow-y-auto border" style="height: 400px;" >
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th class="col-1">#</th>
						<th class="col-1">DISTRITO</th>
						<th class="col-5">DIRECCION</th>
						<th class="col-1">FECHA</th>
						<th class="col-1">ESTADO</th>
						<th class="col-2">ACCIONES</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="direntrega_usuario : ${listaDirentrega_usuario}">
						<td th:text="${direntrega_usuario.idDirentrega}"></td>
						<td th:text="${direntrega_usuario.distrito.desDistrito}"></td>
						<td th:text="${direntrega_usuario.desDirentrega}"></td>
						<td th:text="${direntrega_usuario.fecharegDirentrega}"></td>
						<td th:text="${direntrega_usuario.estadoDirentrega}"></td>
						<td>
							<a th:href="@{/actualizarDirentrega_usuario/{id}(id=${direntrega_usuario.idDirentrega})}"
								class="btn">
								<img src="https://cdn-icons-png.flaticon.com/512/1160/1160515.png" width="30px" height="30px"/>	
							</a> 
							<a th:href="@{/anularDirentrega_usuario/{id}(id=${direntrega_usuario.idDirentrega})}"
								class="btn">
								<img src="https://cdn-icons-png.flaticon.com/512/216/216760.png" width="30px" height="30px" />	
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

	<!-- INICIAMOS EL MODAL PARA TRATADO DE DATOS -->

	<div class="modal fade modal-lg" id="gestionarDirentrega" data-bs-backdrop="static">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header text-bg-danger">
					<h2 class="modal-title fs-5">DIRECCIONES DE ENTREGA</h2>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					
					<div th:insert="registraDirentrega_usuario::fragDirentrega"></div>
					
				</div>
			</div>
		</div>
	</div>


</body>

</html>