<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="../static/include/head">

	<title>PEDIDO USUARIO</title>

</head>

<body>

	<div th:replace="../static/include/navbar"></div>

	<div class="container pt-3 bg-light vh-100 ">
		<div>
			<h2>LISTA DE PEDIDOS</h2>
			<hr>
		</div>

		<div class="card table-responsive">
			<table class="table table-sm">
				<thead>
					<tr>
						<th>ID</th>
						<th>USUARIO</th>
						<th>REPARTIDOR</th>
						<th>FECHA REGISTRO</th>
						<th>FECHA ACTUALIZACION</th>
						<th>ESTADO</th>
						<th>DETALLE</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pedido : ${listaPedido}">
						<td th:text="${pedido.idPedido}"></td>
						<td th:text="${pedido.usuarioCliente.nomUsuario}"></td>
						<td th:text="${pedido.colaboradorRepartidor.nomColaborador}"></td>
						<td th:text="${pedido.fecharegPedido}"></td>
						<td th:text="${pedido.fechaactPedido}"></td>
						<td th:text="${pedido.estadoPedido}"></td>
						<td>
							<a th:href="@{/listaProductoPedido/{id}(id=${pedido.idPedido})}" class="btn">
								<img src="https://e7.pngegg.com/pngimages/106/536/png-clipart-computer-icons-icon-design-details-icon-blue-angle.png" width="30px" height="30px"/>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>


</body>

</html>