<!DOCTYPE html>

<html xmlsn:th="http://www.thymeleaf.org">

<head>

	<div th:replace="../static/include/head"></div>

	<title>LOGIN</title>
</head>

<body class="text-bg-dark bg-opacity-75">

	<div th:replace="../static/include/navbar"></div>

	<div class="container">


		<div class="card shadow-lg col-10 mt-5 m-auto">

			<div class="row row-cols-2 g-0">
				
				<div class="">
					<img src="https://lenaycarbon.pe/assets/img/canto_grande_lenaycarbon.jpg" width="100%"
						height="600px" />
				</div>

				<div class="">
					
					<div class="card-header">
						<h2 class="card-title">INCIAR SESION</h2>
					</div>

					<div clasS="card-body ">

						<!--<span class="text-danger" th:if="${error}" th:text="${error}"></span>-->
					<!--Para mensaje de validaciones si hay error-->
				<div th:if="${param.error}">
					<!--Mostrara mensaje de error si viene param.error-->
					<div class="alert alert-danger">Email o Clave Incorrecto...</div>
				</div>
				<!--Para mensaje cerrar sesion-->
				<div th:if="${param.logout}">
					<!--Mostrara mensaje de error si viene param.error-->
					<div class="alert alert-success">Cerraste sesión...</div>
				</div>
						<div class="">
							<form th:action="@{/login}" th:object="${usuario}" method="post" roles="form">
								<div class="row g-4 m-0 p-0">
									<div class="row g-4 m-0 p-0">
										<div>
											<label for="username">USUARIO</label>
											<!--<input class="form-control" th:field="*{codUsuario}" type="text">-->
											<input type="text" name="username" id="username" placeholder="Email"
									class="form-control" />
										</div>
										<div>
											<label for="password">PASSWORD</label>
											<!--<input class="form-control" th:field="*{passwordUsuario}" type="password">-->
												<input type="password" name="password" id="password" placeholder="Clave"
								class="form-control" />
										</div>
									</div>
									<div class="d-flex-lg gap-2">
										<button type="submit" class="btn btn-success">INGRESAR</button>
										<a th:href="@{registraUsuario}" class="btn btn-primary">REGISTRAR</a>
									</div>
								</div>
							</form>
						</div>

					</div>
				</div>

			</div>


		</div>



	</div>

</body>

</html>