<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Mantenimiento Producto</title>
	<!--Estilos que corren dentro de la carpeta resources-->
	<!-- Bootstrap CSS 5.1.3 -->
	<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/resources/css/dataTables.bootstrap5.min.css}" rel="stylesheet">
	<link th:href="@{/resources/datepicker/bootstrap-datepicker.css}" rel="stylesheet">
	<link th:href="@{/resources/css/bootstrap-icons.css}" rel="stylesheet">

	<link href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">

	<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.css}">
	<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.min.css}">

	<div  th:replace="../static/include/head" ></div>

	<style>
		.modal-header {
			color: #fff;
			background: #428bca;
			display: flex;
			justify-content: center;
		}

		.help-block {
			color: red;
		}

		.form-group.has-error .form-control-label {
			color: red;
		}

		.form-group.has-error .form-control {
			border: 1px solid red;
			box-shadow: 0 0 0 0.2rem rgba(250, 16, 0, 0.18);
		}

		.alertify .ajs-dialog {
			top: 50%;
			transform: translateY(-50%);
			margin: auto;
		}

		.ajs-header {
			background-color: #286090 !important;
			color: white !important;
			/*text-align: center;*/
			font-size: 18px;
			font-weight: bold;
		}

		.ajs-ok {
			color: #fff;
			background-color: #007bff;
			border-color: #007bff;
		}

		.ajs-cancel {
			color: #fff;
			background-color: #dc3545;
			border-color: #dc3545;
		}
	</style>

</head>

<body>
	
	<div th:replace="../static/include/navbar"></div>
	
	<div class="container bg-light pt-4">

		<h3 class="text-center">LISTADO DE PRODUCTOS</h3>

		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalMedicamento">
			Nuevo Producto
		</button>

		<!-- Modal PARA REGISTRAR-->
		<div class="modal fade" id="modalMedicamento" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">PRODUCTO</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<!--Inicio del formulario -->
						<form id="formDocente" action="/medicamento/grabar" method="post" class="row g-3">
							<div class="form-group col-md-4">
								<label for="validationCustomUsername" class="form-label fw-bold">Código</label>
								<div class="input-group has-validation">
									<span class="input-group-text" id="inputGroupPrepend"><i
											class="bi bi-file-person"></i></span>

									<input type="text" class="form-control" name="codigo" id="idCodigo" readonly
										value="0">
								</div>
							</div>
							<div class="form-group col-12">
								<label for="validationCustomUsername" class="form-label fw-bold">Nombre</label>
								<div class="input-group has-validation">
									<span class="input-group-text" id="inputGroupPrepend"><i
											class="bi bi-file-person"></i></span>

									<input type="text" class="form-control" name="nombre" id="idNombre">
								</div>
							</div>
							<div class="form-group col-12">
								<label for="validationCustomUsername" class="form-label fw-bold">Descripción</label>
								<div class="input-group has-validation">

									<textarea class="form-control" id="idDescripcion" rows="6" name="descripcion"
										placeholder="Ingresar descripción"
										style="padding-left: 5px!important;"></textarea>
								</div>
							</div>
							<div class="form-group col-md-4">
								<label for="validationCustomUsername" class="form-label fw-bold">Stock</label>
								<div class="input-group has-validation">
									<span class="input-group-text" id="inputGroupPrepend"><i
											class="bi bi-bank2"></i></span>

									<input type="text" class="form-control" name="stock" id="idStock">
								</div>
							</div>
							<div class="form-group col-md-4">
								<label for="validationCustomUsername" class="form-label fw-bold">Precio</label>
								<div class="input-group has-validation">
									<span class="input-group-text" id="inputGroupPrepend"><i
											class="bi bi-coin"></i></span>

									<input type="text" class="form-control" name="precio" id="idPrecio">
								</div>
							</div>
							<div class="form-group col-12">
								<label for="validationCustomUsername" class="form-label fw-bold">Imagen</label>
								<div class="input-group has-validation">
									<span class="input-group-text" id="inputGroupPrepend"><i
											class="bi bi-file-person"></i></span>
									<!--Ponemos name al input con el valor de data que se usara en el medicamento
					controller para usarlo en request param-->
									<input type="file" class="form-control" name="data">
								</div>
							</div>
							<!--<div class="form-group col-md-4">
				    <label for="validationCustomUsername" class="form-label fw-bold">Fecha Vencimiento</label>
				    <div class="input-group has-validation">
				      <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-calendar-date"></i></span>
				      <i class="fas fa-calendar-week form-control-feedback2"></i>
				      
					<input type="text" style="background-color:#aed6f1" class="form-control" id="usr1"
									name="fecha" placeholder="YYYY-MM-DD" autocomplete="off" >
							
				    </div>
				  </div>-->
							<div class="form-group col-md-6">
								<label for="validationCustomUsername" class="form-label fw-bold">Categoria
									Producto</label>
								<div class="input-group has-validation">
									<span class="input-group-text" id="inputGroupPrepend"><i
											class="bi bi-prescription2"></i></span>

									<!--INICIO DE COMBOBOX-->

									<select class="form-select form-control" name="tipo" id="idTipo">
										<option value=" ">[Seleccione Categoria Producto]</option>

										<option th:each="bean:${tipos}" th:utext="${bean.nombre}"
											th:value="${bean.codigo}" />
									</select>
									<!--FIN DE COMBOBOX-->
								</div>
							</div>


							<div class="modal-footer">
								<button type="submit" class="btn btn-primary"><i class="bi bi-save2"></i>
									Grabar</button>
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i
										class="bi bi-x-circle-fill"></i> Cerrar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!--fin modal PARA REGISTRAR-->


		<div class="mt-5">
			<!--INICIO DE TABLE-->
			<table id="tableMedicamentos" class="table table-striped" style="width:100%">
				<thead>
					<tr>
						<th>Código</th>
						<th>Nombre</th>
						<th>Descripcion</th>
						<th>Stock</th>
						<th>Precio</th>
						<th>Imagen</th>
						<th>Categoria</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>

					<tr th:each="row:${listaProductos}">

						<td th:text="${row.id}"></td>
						<td th:text="${row.nom_producto}"></td>

						<td th:text="${row.des_producto}"></td>
						<td th:text="${row.stock_producto}"></td>
						<td th:text="${row.preciouni_producto}"></td>
						<td th:text="${row.imagen_producto}"></td>

						<td th:text="${row.tipo.des_categoria_producto}"></td>

						<td><a class="btn btn-info btn-editar" data-bs-toggle="modal"
								data-bs-target="#modalMedicamento"><i class="bi bi-pencil"></i></a></td>

						<td><a class="btn btn-danger btn-eliminar"><i class="bi bi-trash-fill"></i></a></td>
					</tr>

				</tbody>
			</table>
			<!--FIN DE TABLE-->
		</div>


	</div>

	<!-- JS principal -->
	<script th:src="@{/resources/js/jquery-3.5.1.js}"></script>

	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>

	<!-- JS para la tabla -->
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

	<!--JS para validar  -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.0/js/bootstrapValidator.js"></script>

	<!--JS para Calendario  -->
	<script th:src="@{/resources/datepicker/bootstrap-datepicker.js}"></script>
	<!--TOASTR ES PARA MENSAJES  y luego desaparezca-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<!--Alertify para que aparezca interaccion de eliminar-->
	<script th:src="@{/resources/alertifyjs/alertify.js}"></script>
	<script th:src="@{/resources/alertifyjs/alertify.min.js}"></script>

	<script th:inline="javascript" th:if="${MENSAJE!=null}">

		let msj;
		msj =/*[[${MENSAJE}]]*/
			toastr.success(msj, toastr.options = {
				"timeOut": "2000",
				"positionClass ": " toast-top-right ",
			});
	</script>



	<!--Aqui damos para el input de fecha por medio de su id usr1 el datepicker -->
	<script>
		$(function () {
			$('#usr1').datepicker({
				'format': 'yyyy-mm-dd',
				'autoclose': true
			});

		});
		//-------------INICIO ASIGNAR EVENTO CLICK AL DE LA CLASE btn-editar para ACTUALIZAR----
		$(document).on("click", ".btn-editar", function () {

			let cod;

			cod = $(this).parents("tr").find("td")[0].innerHTML;

			$.get("buscar?codigo=" + cod, function (response) {

				$("#idCodigo").val(response.codigo);
				$("#idNombre").val(response.nombre);
				$("#idDescripcion").val(response.descripcion);
				$("#idStock").val(response.stock);
				$("#idPrecio").val(response.precio);
				$("#usr1").val(response.fecha);

				$("#idTipo").val(response.tipo.codigo);
			})

		})
		//-------------FIN ASIGNAR EVENTO CLICK AL DE LA CLASE btn-editar para ACTUALIZAR----
		//-------------INICIO ASIGNAR EVENTO CLICK AL DE LA CLASE btn-eliminar para ELIMINAR----
		$(document).on("click", ".btn-eliminar", function () {

			let cod;

			cod = $(this).parents("tr").find("td")[0].innerHTML;


			alertify.confirm("SISTEMA", "Seguro de eliminar!",
				function () {

					window.location = "eliminar?codigo=" + cod;
				},
				function () {
					alertify.error('Cancelado!');
				});





		})
		//-------------FIN ASIGNAR EVENTO CLICK AL DE LA CLASE btn-eliminar para ELIMINAR----

	</script>
	<!--Aqui hacemos la conexion de Bootstrap para que sea DataTable al de id tableMedicamentos-->
	<script>
		$(document).ready(function () {
			$('#tableMedicamentos').DataTable();
			//validación
			$('#formDocente').bootstrapValidator({
				fields: {
					nombre: {
						validators: {
							notEmpty: {
								message: 'Campo nombre es obligatorio'
							}
						}
					},
					descripcion: {
						validators: {
							notEmpty: {
								message: 'Campo descripción es obligatorio'
							}
						}
					},
					stock: {
						validators: {
							notEmpty: {
								message: 'Campo materno es obligatorio'
							}
						}
					},
					precio: {
						validators: {
							notEmpty: {
								message: 'Campo hijos es obligatorio'
							}
						}
					},
					tipo: {
						validators: {
							notEmpty: {
								message: 'Campo tipo es obligatorio'
							}
						}
					},
					fecha: {
						//selector:'#usr1',   
						validators: {
							notEmpty: {
								message: 'Seleccione fecha '
							},
							date: {
								format: 'YYYY-MM-DD',
								message: 'The format is dd/mm/yyyy'
							},
						}
					},


				}
			})
			$('#usr1').on('changeDate', function (e) {
				$('#formDocente').data('bootstrapValidator').updateStatus('fecha', 'VALIDATED');
			})
			$('#modalMedicamento')
				.on('hidden.bs.modal', function () {
					$("#formDocente").bootstrapValidator('resetForm', true);
					$("#idCodigo").val(0)
				})

		});
	</script>


</body>

</html>