<!DOCTYPE html>
<html xmlsn:th="http://www.thymleaf.org">

<head>
	<div th:replace="../static/include/head"></div>
	<title>COMPRA</title>
</head>

<body>
	<div th:replace="../static/include/navbar"></div>

	<div class="container">
		<div>
			<div>

				<div class="mt-4">
					<h2>REGISTRA COMPRA</h2>
					<hr>
				</div>

				<div>
					<form th:action="@{/registraCompra}" th:object="${compra}" method="post">
						<div class="d-flex flex-column gap-2">
							<div class="row">
								<div class="col">
									<lable>ID</lable>
									<input readonly class="form-control" type="text" th:field="*{idCompra}" />
								</div>
								<div class="col">
									<lable>FECHA REG</lable>
									<input readonly class="form-control" type="text" th:field="*{fecharegCompra}" />
								</div>
								<div class="col">
									<lable>ESTADO</lable>
									<input readonly class="form-control" type="text" th:field="*{estadoCompra}" />
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col">
									<lable>PEDIDO</lable>
									<input readonly class="form-control" type="text" th:field="*{pedido.idPedido}" />
								</div>
								<div class="col">
									<lable>TOTAL A PAGAR</lable>
									<input class="form-control" type="text" th:field="*{montoCompra}" />
								</div>
								<div class="col">
									<lable>MEDIO DE PAGO</lable>
									<select th:field="*{medioPago.idMedioPago}" class="form-select">
										<option th:each="medioPago : ${listaMedioPago}" th:text="${medioPago.desMedioPago}" th:value="${medioPago.idMedioPago}"></option>
									</select>
								</div>
							</div>
							<div>
								<div>
									<h4>PRODUCTOS</h4>
									<hr>
								</div>
								
								<div class="table-responsive" style="height: 400px;">									<table class="table">
										<thead>
											<tr>
												<th>ID</th>
												<th>NOMBRE</th>
												<th>DESCRIPCION</th>
												<th>PRECIO</th>
												<th>CANTIDAD</th>
												<th>TOTAL</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="productoPedido : ${listaProductoPedido}">
												<td th:text="${productoPedido.producto.idProducto}"></td>
												<td th:text="${productoPedido.producto.nomProducto}"></td>
												<td th:text="${productoPedido.producto.desProducto}"></td>
												<td th:text="${productoPedido.producto.preciouniProducto}"></td>
												<td th:text="${productoPedido.cantidadProducto}"></td>
												<td th:text="${productoPedido.producto.preciouniProducto} * ${productoPedido.cantidadProducto}"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							
							<div>
								<button type="submit" class="btn btn-success">COMPRAR</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div>

			</div>
		</div>
	</div>
</body>

</html>