<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">

<head>
	<title>Sistema Restaurante</title>
	<!--Bootstrap-->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
		type="text/css" />

</head>

<body>
	<div class="container my-2">
		<h1>Registro de Producto</h1>

		<form th:action="@{/guardarProducto}" th:object="${producto}" method="post">
			<!--el th:field hace referencia al atributo del modelo Producto osea nombre, apellidos,email -->
			<input type="text" th:field="*{nomProducto}" placeholder="Ingrese nombre" class="form-control mb-4 col-4" />
			<input type="text" th:field="*{desProducto}" placeholder="Ingrese Descripción"
				class="form-control mb-4 col-4" />
			<input type="text" th:field="*{preciouniProducto}" placeholder="Ingrese Precio"
				class="form-control mb-4 col-4" />
			<input type="text" th:field="*{stockProducto}" placeholder="Ingrese Stock"
				class="form-control mb-4 col-4" />
		<!--	<input type="text" th:field="*{imagenProducto}" placeholder="Ingrese Imagen"
				class="form-control mb-4 col-4" />-->
			<input type="text" th:field="*{estadoProducto}" placeholder="Ingrese estado"
				class="form-control mb-4 col-4" />

			<div class="form-group col-md-6">
				<label for="validationCustomUsername" class="form-label fw-bold">Categoria Producto</label>
				<div class="input-group has-validation">
					<!--el name de este select osea el cate debe ser igual a 
				     							@JoinColumn(name="id_categoria_producto")
								//variable ASOCIACION ENTRE TABLAS este es un Objeto de CategoriaProducto
								private CategoriaProducto cate; a cate que lo parsea-->
					<select class="form-select form-control" name="cate" id="idTipo">
						<option value=" ">[Seleccione Categoria]</option>

						<option th:each="bean:${cate}" th:utext="${bean.desCategoriaProducto}"
							th:value="${bean.idCategoriaProducto}" />
					</select>

				</div>
			</div>




			<!--boton de tipo submit -->
			<button type="submit" class="btn btn-info col-2">Registrar Producto</button>
		</form>

		<hr>

		<a th:href="@{/listaProducto/colaborador}">Regresar</a>


	</div>

</body>


</html>