<!DOCTYPE html>
<html xmlsn:th="http://www.thymleaf.org">
	<head>
		<div th:replace="../static/include/head"></div>
		<title>PEDIDO</title>
	</head>
	<body>
		
		<div th:replace="../static/include/navbar"></div>
		
		<div class="container">
			
			<div class="mt-4">
				<h2>NUEVO PEDIDO</h2>
				<hr>
			</div>
			
			<div>	
				<div>
					<form action="guardarPedido" th:object="${pedido}" method="post">
						<div class="d-flex flex-column gap-4">
							
							
							<div class="row g-4">
								<div class="col" th:if="*{idPedido}!=0">
									<lable>ID</lable>
									<input readonly class="form-control" type="text" th:field="*{idPedido}" />
								</div>
								<div class="col">
									<lable>FECHA REGISTRO</lable>
									<input readonly class="form-control" type="text" th:field="*{fecharegPedido}" />
								</div>
								<div class="col">
									<lable>ESTADO</lable>
									<input readonly class="form-control" type="text" th:field="*{estadoPedido}" />
								</div>
							</div>
							
							<div class="row row-cols-2 g-4">
								
								<div>
									<lable>DIRECCION</lable>
									<select class="form-select" th:field="*{direntregaUsuario.idDirentrega}">
										<option  th:each="direntrega : ${listaDirentrega}" th:value="${direntrega.idDirentrega}" th:text="${direntrega.desDirentrega}"></option>
									</select>
								</div>
								<div>
									<lable>REPARTIDOR</lable>
									<select class="form-select" th:field="*{colaboradorRepartidor.idColaborador}">
										<option  th:each="colaborador : ${listaColaborador}" th:value="${colaborador.idColaborador}" th:text="${colaborador.nomColaborador}"></option>
									</select>
								</div>
							</div>
							
							<div class="row g-2">
								<div>
									<button type="submit" class="btn btn-success">AGREGAR PRODUCTOS</button>
								</div>
							</div>
							
							
						</div>
					</form>
				</div>
			</div>
			
		</div>
		
	</body>
	
</html>